[Unit]
Description=Agent to manage Docker hosts through Tutum
Documentation=https://support.tutum.co/
After=network.target docker.socket
Requires=tutum-agent.socket

[Service]
ExecStart=/usr/bin/tutum-agent
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target